<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async">
      <mat-card class="dashboard-card" style="background-color: #f5f5f5;">
        <mat-card-header>
          <img mat-card-avatar src="assets/qr_code.png">
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="dashboard-card-content">
          <div style="padding: 10px;">
            <img src="assets/qr_code.png" style="width: 200px;height: 200px;">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-fab style="position: fixed; bottom: 12px; right: 25px;" aria-label="Example icon button with a filter list icon">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>
